
<tr>
    <td>
        {% for content, type_ in heartbeat.labels() %}
            <span class="label label-{{ type_ }}">{{ content }}</span>
        {% endfor %}
    <td>
        {% if heartbeat_link %}<a href="{{ heartbeat_link }}">{% endif %}
        <strong>{{ heartbeat.service.name }}</strong>
        {% if heartbeat_link %}</a>{% endif %}
    <td>
        {{ heartbeat.time | timedeltaformat }}<br/>
        <small>{{ heartbeat.time | datetimeformat('d MMMM, yyyy h:mm:ss a z') }}</small>
    <td>
        {{ heartbeat.remote_name }}<br/>
        <small>{{ heartbeat.remote_addr }}</small>
    <td>
        <a class="btn btn-mini btn-danger" disabled><i class="icon-trash icon-white"></i> Delete</a>
