<!doctype html>

<head>
    <%block name="head">
    <title>${ request.host }</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    </%block>

<body>
<div class="container"><div class="row">


<h1>
    ${ request.host }
</h1>

% if config.get('SQLALCHEMY_DATABASE_URI')  == 'sqlite://':
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> This instance is using the testing database; your data is not permanent.
    </div>
% endif
% if config['USERNAME'] is None or config['PASSWORD'] is None:
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> Access credentials are not set.
    </div>
% endif

<%block name="main"></%block>
<%block name="scripts">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/bootstrap-editable/js/bootstrap-editable.min.js"></script>
</%block>