{% extends "_main.html" %}
{% block body %}

<h3>
    <a href="/">Services</a> &raquo;
    {{ service.name }}
</h3>

<table class="table table-striped table-hover">
    <thead><tr>
        <td><!-- status -->
        <td>Name
        <td>Last Time
        <td>Last Origin
        <td>Actions
    <tbody>
    {% for component in service.components %}
        {% set heartbeat = component.heartbeats[0] %}
        {% include "_heartbeat_tr.html" %}
    {% endfor %}

</table>


<h3>Script Integration</h3>
<p>Copy the following command into the end of your script to create
   a heartbeat here.
</p>
<input id="curl" class="input-block-level" type="text" value='curl -F"service={{ service.name }}" -F"name=$(hostname)" {{ request.url_root }}api/beat' />

<script>
    $("#curl").click(function() {
       $(this).select();
    });
</script>

{% endblock %}
