{% extends "_main.html" %}
{% block body %}

{% set service = component.service %}

<h3>
    <a href="/">Services</a> &raquo;
    <a href="{{ url_for('get_service', name=service.name) }}">{{ service.name }}</a> &raquo;
    {{ component.name }}
</h3>

<table class="table table-striped table-hover">
    <thead><tr>
        <td><!-- status -->
        <td>Name
        <td>Time
        <td>Origin
        <td>Actions
    <tbody>
    {% for heartbeat in component.heartbeats %}
        {% set service = None %}
        {% set component = None %}
        {% include "_heartbeat_tr.html" %}
    {% endfor %}

    {% if not component.heartbeats %}
    <tr>
        <td>&nbsp;
        <td colspan="4"><em>No heartbeats.</em>
    {% endif %}

</table>

<h3>Agents</h3>
<table class="table table-striped table-hover">
    <thead><tr>
        <td><!-- status -->
        <td>Name
        <td>Cron
        <td>Type
        <td>Job
    <tbody>

    {% if True %}
    <tr>
        <td>&nbsp;
        <td colspan="4"><em>No agents.</em>
    {% endif %}
    
</table>

<h4>Create Web Agent</h4>
<form class="form-horizontal" method="POST" action="{{ url_for('post_create_component') }}"><fieldset>
    <input type="hidden" name="service_id" value="{{ service.id }}" />
    
    <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
            <input type="text" name="name" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">CRON Specification</label>
        <div class="controls">
            <input type="text" class="input-small" name="cron" value="1 * * * *" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">URL to Check</label>
        <div class="controls">
            <input type="text" name="job" class="input-xlarge" placeholder="http://example.com/" />
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Create</button>
        </div>
    </div>

</fieldset></form>



<h3>Script Integration</h3>
<p>Copy the following command into the end of your script to create
   a heartbeat here.
</p>
<input id="curl" class="input-block-level" type="text" value='curl -F"service={{ service.name }}" -F"name={{ component.name }}" {{ request.url_root }}api/beat' />

<script>
    $("#curl").click(function() {
       $(this).select();
    });
</script>

{% endblock %}
