{% extends "_main.html" %}
{% block body %}

<h3>Services</h3>

<table class="table table-striped table-hover">
    <thead><tr>
        <td><!-- status -->
        <td>Name
        <td>Last Time
        <td>Last Origin
        <td>Actions
    <tbody>
    {% for service in services %}
        {% set heartbeat = service.components[0].heartbeats[0] %}
        {% include "_heartbeat_tr.html" %}
    {% endfor %}
    <tr>
        <td>&nbsp;
        <td colspan="4"><form class="form-inline" method="POST" action="{{ url_for('post_create_service') }}">
            <input type="text" name="name" />
            <input type="submit" class="btn btn-primary" value="Create" />
        </form>

</table>


{% endblock %}
